SDK/build/
SDK/data/
*.blend
*.blend1
*.png 
tb_logs/
*.npz
*.csv
*.pkl
*.npy 
tb_logs2/
imgs/
rl_weights/
rl_weights_14/
rl_weights2/ 
*.pth
PythonRobotics/
compressor_weights/
anim_frames/
*.ipynb
*.html